@font-face {
    font-family: Cormorant;
    src: url(../assets/fonts/CormorantGaramond-Regular.ttf);
}

body{
    margin: 0%;
    max-width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    background-color: white;
}

#headerIcons{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #DBC197;
}

#aLogo{
    width: 100%;
}

.burger{
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#logo{
    width: 30%;
    margin-left: 3%;
}

#menu-icon{
    width: 15%;
    margin-right: 5%;
}

.hideLinks{
    display: none;
}

.showLinks{
    display: flex;
    flex-direction: column;
    background-color: #4D987D;
    width: 100%;
    padding-bottom: 10%;
}

.showLinks a{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-color: #D0F0D2;
    text-align: left;
    border-radius: 7px;
    padding: 2% 5%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

.btn{
    background-color: #DBC197;
    text-decoration: none;
    color: black;
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 4%;
    border-radius: 7px;
    margin-top: 10px;
   /* display: inline-block;*/
    justify-content: center;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

















/* Footer */

footer{
    border-top: 4px solid #DBC197;
    display: flex;
    padding-top: 5%;
    margin-bottom: 5%;
    margin-top: 20%;
}

.point{
    width: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.footerLinks{
    display: flex;
    align-items: center;
}

footer a{
    /* text-decoration: none; */
    color: black;
    font-family: Cormorant;
    font-size: 20px;
    margin-left: 3%;
}

#someSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
}



