@import url("../style.css");

#whatIsHygieia{
    margin-top: 40%;
}

#whatIsHygieia h1{
    font-family: seravek-web, sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.greekPhotos{
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
}

#photoDiv{
    display: flex;
    justify-content: space-between;
}

#hygieiaText{
    background-color: #D0F0D2;
    font-family: Cormorant;
    font-size: 20px;
    padding: 5%;
}

.desktopPhotos{
    display: none;
}



/* Vision box */

#visionBox{
    border-radius: 7px;
    padding: 5%;
    box-shadow: 0 0 10px 10px #DBC197;
    margin: 10%;
    margin-top: 25%;
}

#visionBox h1{
    text-align: center;
    font-family: seravek-web, sans-serif;
    font-weight: 100;
    font-size: 35px;
}

#visionBox p{
    font-family: Cormorant;
    font-size: 20px;
}



/* Photo banner */

#photoBanner{
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

.photoBanner{
    width: 32.5vw;
    font-size: 0;
}



@media screen and (min-width: 992px) {
    #whatIsHygieia{
        margin-top: 15%;
    }
    
    #whatIsHygieia h1{
        font-size: 70px;
    }
    
    .greekPhotos{
        display: none;
    }

    .desktopPhotos{
        display: block;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
    }

    #hygieiaText{
        display: flex;
        font-size: 25px;  
    }

    #hygieiaText p{
        padding-left: 5%;
        padding-right: 5%;
    }


    /* Vision box */

    #visionBox{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    #visionBox h1{
        font-size: 35px;
        margin-top: 0;
    }

    #visionBox p{
        font-size: 25px;
    }


    /* Photo banner */

    #photoBanner{
        display: flex;
        justify-content: space-between;
        margin-top: 15%;
    }

    .photoBanner{
        width: 32.5vw;
        font-size: 0;
    }

}